@import './../../sass/variables.scss';

.editable-item {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid $color-gray;
  width: 500px;
  height: 44px;
  gap: 5px;
  align-items: end;

  &:not(.editable-item--password) {
    .error {
      top: 25px;
    }
  }

  .select {
    margin: 0;
  }
}

.editable-item_wrapper {
  display: flex;
  align-items: end;
  gap: 5px;
}

.editable-item_title {
  color: $color-gray;
  text-wrap: nowrap;
}

.editable-item_value {
  flex-grow: 1;
  text-align: end;
  color: black;
}

.editable-item_button {
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:disabled {
    cursor: default;
    background: url('./../../assets/images/check-mark-disabled.svg') center no-repeat;
  }
}

.editable-item--password {
  height: 80px;
}

.editable-item_button--edit {
  background: url('./../../assets/images/pencil.svg') center no-repeat;
}

.editable-item_button--save {
  background: url('./../../assets/images/check-mark.svg') center no-repeat;
}

.editable-item_button--cancel {
  background: url('./../../assets/images/cross.svg') center no-repeat;
}

@media screen and (max-width: 600px) {
  .editable-item {
    width: 350px;
  }
}
