@import './../../sass/variables.scss';

.header {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;

  & .control-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    & button {
      margin: 5px;
    }
  }

  & .logo-wrapper {
    & :hover {
      cursor: pointer;
    }
    
    & .logo {
      width: 80px;
      float: left;
    }
  }
}
