@import './../../sass/variables.scss';

.button {
  padding: 10px;
  background-color: $color-primary;
  font-family: $font-primary;
  font-weight: 500;
  color: white;
  letter-spacing: 1px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  transition: all 235ms ease-in-out;
  cursor: pointer;

  &:disabled {
    color: black;
    cursor: not-allowed;
    background-color: #e1dfdd;
  }

  &:active {
    scale: 0.99;
  }

  &:not(:disabled):hover {
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
  }

  &.hidden {
    display: none;
  }
}

.button--small {
  padding: 5px;
  font-size: 14px;
  letter-spacing: 0;
}

.button--large {
  padding: 15px;
  font-size: 22px;
  letter-spacing: 1px;
  color: $color-dark;
  font-weight: 600;
}

.button--positive {
  background-color: $color-green;
}

.button--negative {
  background-color: $color-red;
}

.button--info {
  background-color: $color-primary-pale;
}

.button--navigation {
  position: relative;
  font-weight: 600;
  color: $color-dark;
  color: #545454;
  background-color: transparent;
  text-wrap: nowrap;

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    opacity: 0;
    left: 0;
    bottom: 2px;
    border-bottom: 3px solid #f1cdb3;
    transition: opacity 0.2s ease-out;
  }

  &:not(:disabled):hover {
    box-shadow: none;
    transform: none;

    &::after {
      opacity: 1;
    }
  }
}
