@import './../../sass/variables.scss';

.profile {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: white;
  border-radius: 10px;
}

.profile_heading {
  align-self: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 700;
  color: $color-primary;
}

.profile_address {
  display: flex;
  flex-direction: column;
}

.profile_address--default {
  background-color: $color-primary-pale;
  border-radius: 10px;
  border: 1px solid $color-gray;
}

@media screen and (max-width: 600px) {
  .profile {
    padding: 10px;
  }
}
