@import './variables.scss';

* {
  box-sizing: border-box;
  font-family: 'manrope';
  letter-spacing: 0.6px;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-light;
  font-family: $font-primary;
  color: $color-dark;
  width: 100vw;
  height: 100vh;
}

@font-face {
  font-family: 'manrope';
  src: url(./../assets/font/manrope-regular.ttf);
}
