@import './variables.scss';

* {
  box-sizing: border-box;
  letter-spacing: 0.6px;
  font-family: $font-primary;
}

.disable-scrolling {
  overflow: hidden;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-light;
  font-family: $font-primary;
  color: $color-dark;
  min-height: 100vh;
  padding: 10px;
}

@font-face {
  font-family: 'manrope';
  src: url(./../assets/font/manrope-regular.ttf);
}
