$color-dark: #545454;
$color-gray: #b2b2b2;
$color-light: #f6f6f6;
$color-primary: #d8a27b;
$color-primary-light: #fddcc4;
$color-primary-pale: #fff9f5;
$color-red: #900;
$color-green: #1c9900;

$font-primary: manrope;
